.split {
    margin-top: 80px;
    height: 765px;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
  
.left {
  left: 0;
}


.right {
  right: 0;
}

table.first {
  position: absolute;
  z-index: 15;
  top: 17%;
  left: 15%;
  margin: -100px 0 0 -150px;
  font-size: 20px;
  text-align: center;
  width: 970px;
}

table.first tr th.table-header {
  text-align: left;
  border-bottom: 5px solid black;
  padding-bottom: 10px;
  font-size: 40px;
  padding-left: 30px;
}

.table-cell {
  border-bottom: 1px solid black;
}

.left img{
  height: 100%;
  width: auto;
}

table a:hover {
  background-color: rgba(16,112,184,255);
  border-radius: 5px;
  transition: 0.3s ease;
}

table.second {
  position: absolute;
  font-size: 20px;
  text-align: center;
  width: 970px;
  margin-top: 600px;
}

table.second tr th.table-header {
  text-align: left;
  border-bottom: 5px solid black;
  padding-bottom: 10px;
  font-size: 40px;
  padding-left: 30px;
}

table.second tr td{
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; /* Adjust the margin value as needed */
}

button {
  background: rgba(16,112,184,255);
  padding: 2px 30px;
  border: none;
  outline: none;;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(16,112,184,255);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  width: 100%;
}

.footer a:hover {
background-color: #3619da;
border-radius: 5px;
transition: 0.3s ease;
}

.footer h5 {
text-align: right;
}

.w3-card-4.trib {
  margin-top: 25px;
  margin-bottom: 25px;
}

.search.trib input {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  width: 250px;
  margin-left: 10px;
}

.search.trib button {
  width: 250px;
  height: 50px;
  margin-top: 50px;
  margin-left: 10px;
}