body.pr {
    background: white;
}

.profile {
  padding: 3%;
  margin-top: 3%;
  border-radius: 0.5rem;
  background: #ccc;
  border-style: solid;
  border-color: #3619da;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.profile-img p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.profile-head h2 {
  color: #333;
}

.profile-img h6 {
  margin-top: 0;
  color: #0062cc;
}

.profile-head hr {
  margin-top: 30px;
  border-top: 2px solid #000;
}

.profile-head .nav-tabs{
  margin-top: 20px;
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link{
  border: none;
  font-weight: 600;
}

.profile-head .nav-tabs .nav-link.active{
  background-color: rgba(7,13,89,255);
  color: white;
  border: none;
  border-bottom: 2px solid #0062cc;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 90%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.profile-edit-btn a {
  color: #000;
}

.profile-edit-btn a:hover {
  text-decoration: none;
}

.profile-tab label{
  font-weight: 600;
}

.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.status{
  font-size: 18px;
  color: #818182;
  margin-top: 5%;
}

.online-indicator{
  display: inline-block;
  color: #0fcc45;
  text-decoration: underline;
}

.access-indicator{
  display: inline-block;
  color: #000;
  font-style: italic;
}

.config-options {
  padding: 14%;
  margin-top: 15%;
}

.config-options p {
  font-weight: 600;
}

.config-op1 {
  margin-top: 10px;
  border: none;
  border-radius: 1.5rem;
  width: 90%;
  padding: 2%;
  font-weight: 600;
  background: cadetblue;
  cursor: pointer;
  margin-bottom: 10px;
}

.config-op1 a {
  color: #000;
}


.config-op1:hover {
  background: rgb(69, 129, 131);
}

.config-op2 {
  border: none;
  border-radius: 1.5rem;
  background: rgb(215, 30, 30);
  width: 90%;
  padding: 2%;
  font-weight: 600;
  cursor: pointer;
}

.config-op2 a {
  color: #000;
}

.config-op2:hover {
  background: rgb(194, 0, 0);
}

.footer {
    margin-top: 140px;
    display: flex;
    padding: 20px;
    background-color: rgba(7, 13, 89, 255);
    color: #fff;
    font-size: 18px;
    width: 100%;
    position: absolute;
    max-height: 70px;
}