doctype html
html
  head
    title AcordWEB
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/acstyle.css')

  body
    block content