html 
    head 
        title AcordWEB 
        link(rel="stylesheet" href="/stylesheets/not-found.css")
    body
        .container
            .error
                .box 
                    img(src="/images/sad.png")
                    h1 ACÓRDÃO NÃO ENCONTRADO!
                    h2 Não foi encontrado nenhum documento correspondente aos critérios da sua pesquisa.
                    h3 Verifique o seu input e tente novamente! 
                    a(href="javascript:void(0)", onclick="goBack()") VOLTAR
                    script.
                        function goBack() {
                            window.history.go(-1);
                        }
                

            .footer
                p #[strong AcordWEB] é um site desenvolvido com o objetivo de facilitar o processo de consulta/manipulação de acórdãos jurídicos
                p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                p &copy; 2023 Engenharia Web&emsp;@&emsp;
                a(href="https://www.linkedin.com/in/duarte-parente-980375264/" target="_blank") Duarte Parente
                p &emsp;|&emsp;
                a(href="https://www.linkedin.com/in/jos%C3%A9-moreira-a50884241/" target="_blank") José Moreira